:root{
    --pink:#FF90BB;
    --red:#FF2171;
    --green:#22A699;
    --white:#ECF8F9;
    --yellow:#F6FFA6;


}

body,h2{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landing{
    background-image: url("../media/indian food6.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:var(--white)
}

header a{
    text-decoration: none;
    color:var(--yellow);
    min-width:130px;
    
}

header{
    display:flex;
    padding:1em;
    flex-wrap:wrap;
    row-gap:1em;
}
#logo{
    flex:3;
    font-size:1.25em;
    min-width:250px;
}
nav{
    flex:2;
    display:flex;
    align-items:center;
}
nav a{
    flex:1;
}
nav a:hover{
    color:var(--green);
}
.maintext{
    display:flex;
    flex-direction: column;
    height: 25vh;
    justify-content: center;
    padding:2em;
}
.tagline1{
    color:red;
    font-size:2.5em;
    font-weight: bolder;
}
.tagline2{
    color:#DEDEA7;
}
.maintext div{
    margin-top:.75em;
}
.maintext button{
    width:20vw;
    margin-top:2em;
    border-radius: 10px;
    padding:.7em;
    background-color:var(--green);
    color:black;
    border:1px solid var(--green);
}
button:hover{
    color:#F6FFA6;
}
.menu{
    display:grid;
    background:linear-gradient(to right,rgba(25, 5, 100, 0.571),rgba(17, 16, 16, 0.873));
    color:aliceblue;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr))
}
#menuheading,#locheading{
    background:linear-gradient(to right,rgba(25, 5, 100, 0.571),rgba(17, 16, 16, 0.873));
    font-size: 2.2em;
    color:red;
    display:flex;
    justify-content: center;

}
.menu th{
    color:aqua;
    font-size: 1.5em;
}
table{
    width:100%;
    padding:1em;
}
.menu tr{
    display:flex;
    justify-content: center;
    margin-top:.8em;
}
.menu td:nth-child(1){
    justify-self: left;
    flex:1;
}
.menu td:nth-child(2){
    justify-self: right;
}
.maincourse{
    grid-row:span 2;
}
.locations{
    background:linear-gradient(to right,rgba(25, 5, 100, 0.571),rgba(17, 16, 16, 0.873));
    color:white;
    display:flex;

}
.locations h2{
    color:aqua;
    margin-bottom: .8em;
}
.locations div{
    flex:1;
    padding:1em;
    min-width:300;
}
header h2 i,nav i{
    margin-right:.5em;
}
footer{
    background-color:rgb(67, 59, 59);
    color:#ECF8F9;
    padding:.25em 1em;
}

